# Módulo 1

### Contenidos
- [Introducción a Python](#Introducción-a-Python)
- [Intérprete vs Script](#Intérprete-vs-Script)
- [IPython y Notebook](#IPython-y-Notebook)
- [Variables y Tipos de datos](#Variables-y-Tipos-de-datos)
- [Listas](#Listas)
- [Diccionarios](#Diccionarios)
- [Sentencias Condicionales](#Sentencias-Condicionales)
- [Bucles](#Bucles)
- [Funciones](#Funciones)

# Introducción a Python
------------------------

¿Qué es **Python**?

[**Python**](https://es.wikipedia.org/wiki/Python#Historia) es un lenguaje de programación interpretado, orientado a objetos, de alto nivel y con semántica dinámica.
Python admite módulos y paquetes, lo que fomenta la modularidad del programa y la reutilización del código.

<br>

<br>

**Breve historia sobre python:**


El lenguaje fue desarrollado por [Guido Van Rossum](https://es.wikipedia.org/wiki/Guido_van_Rossum) mientras se encontraba trabajando en el Centro para las Matemáticas y la Informática (CWI) en los Países Bajos, en el año 1989, aunque su primera versión fue publicada en 1991.

Python como lenguaje de programación hace un enfásis especial en su capacidad para ser leído por otros programadores. Esta aparante sencillez a la hora de leer el código le ha permitido gozar de una gran popularidad en general. Esta misma característica de simplicidad llevó a establecer una especie de filosofía al momento de desarrollar con este lenguaje:

<br>

<br>

[**The Zen of Python**](https://www.python.org/dev/peps/pep-0020/)


1.    Lo bonito es mejor que lo feo.
2.    Lo explícito es mejor que lo implícito.
3.    Lo simple es mejor que lo complejo.
4.    Lo complejo es mejor que lo complicado.
5.    Lo simple es mejor que lo anidado.
6.    Lo disperso es mejor que lo denso.
7.    La legibilidad es importante.
8.    Los casos especiales no son tan especiales como para romper las reglas.
9.    Aunque la practicidad gana a la pureza.
10.    Los errores nunca deben pasar en silencio.
11.    A no ser que se silencien explícitamente.
12.    Ante la ambigüedad, rechace la tentación de adivinar.
13.    Debe haber una -y preferiblemente sólo una- forma obvia de hacerlo.
14.    Aunque esa manera puede no ser obvia al principio, a menos que seas holandés. (Referencia al lenguaje Perl, más complejo,        cuyo creador NO es holándes)
15.    Ahora es mejor que nunca.
16.    Aunque nunca es a menudo mejor que *ahora mismo*.
17.    Si la implementación es difícil de explicar, es una mala idea.
18.    Si la implementación es fácil de explicar, puede ser una buena idea.
19.    Los "namespaces" son una gran idea -¡hagamos más de esos!

# Intérprete vs Script

Existen dos formas básicas de ejecutar código en Python:

1. Ejecutar el intérprete de Python desde una terminal
2. Escribir código en un fichero con extensión **.py** (conocido de forma común como script) y ejecutarlo en una terminal. 

<br>

<br>

Mostramos dos ejemplos básicos:

Hacemos un print a la cadena de carácteres **Hola Havas**, acá estamos ejecutando código directamente desde la terminal

<img src="imgs/terminal_1.png" style="width: 750px;">


En este segundo ejemplo ejecutamos un fichero con extensión **.py** en el que ya está escrito el código

<img src="imgs/terminal_2.png" style="width: 750px;">

# IPython y Notebook
[IPython](http://ipython.org/) o Interactive Python es conjunto de herramientas que fueron desarrolladas con el objetivo de facilitar la programación y el procesamiento de datos en python.

### Anaconda

[Anaconda](https://www.anaconda.com/) es una suite de código abierto que abarca una serie de aplicaciones, librerías y conceptos diseñados para el desarrollo de la ciencia de datos con Python.

# Variables y Tipos de datos

Existen 3 tipos de variables básicas en python:

- Int: Integer o Entero
- Float: Número decimal
- String: Cadena de carácteres
- Bool: Booleanos, True o False

Además existen dos estructuras o colecciones de datos:

- [Lista](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists): list, implica una lista de elemenos con capacidad de ser mutable
- [Diccionario](https://docs.python.org/3/tutorial/datastructures.html#dictionaries): conjunto de valores con una llave y un valor
- [Tupla](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences): implica una lista de elemenos con capacidad de ser inmutable
- [Set](https://docs.python.org/3/tutorial/datastructures.html#sets): es una lista de elementos sin duplicados

Para declarar una variable, se utiliza el símbolo **=**

In [1]:
variable_1 = 'Hola Havas!'

# Con la función print() es posible imprimir o visualizar el contenido de una variable ya definida
print(variable_1)

Hola Havas!

Con la función **type()** podemos saber el tipo de dato de una variable

In [2]:
type(variable_1)

str

In [3]:
variable_2 = 2
type(variable_2)

int

### Variables Númericas

A continuación se presentan las operaciones básicas con python:

<img src="imgs/Operaciones.png" style="width: 550px;">

In [10]:
x = 6
y = 2

print("Suma: {}".format( x + y))
print("Resta: {}".format( x - y))
print("División: {}".format( x / y))
print("Resto de la división: {}".format( x % y))

print("Pasamos a float: {}".format(float(x)))

Suma: 8
Resta: 4
División: 3.0
Resto de la división: 0
Pasamos a float: 6.0

In [11]:
x + y

8

In [20]:
x = 5
y = 8

Suma de las variables **x** + **y**

In [12]:
x + y

8

Multiplicación de las variables x + y

In [13]:
x * y

12

Elevamos **x** a la potencia **y**

In [14]:
x ** y

36

Dividimos **x** entre **y**

In [15]:
x / y

3.0

Nos quedamos con el resto de la división entre **x** & **y**

In [16]:
x % y

0

### Variables Strings

In [17]:
string = "Hola, esta variable es un string"
print(string)

Hola, esta variable es un string

Podemos sumar dos strings

In [18]:
string_2 = "Esto también es un string"

print(string + " y " + string_2)

Hola, esta variable es un string y Esto también es un string

Podemos multiplicar strings

In [6]:
string_3 = "Hola!"
print(string_3 * 5)

Hola!Hola!Hola!Hola!Hola!

Podemos acceder al primer elemento del string con "**[0]**"

In [7]:
string_3[0]

'H'

Podemos acceder al segundo elemento del string con "**[1]**"

In [9]:
string_3[1]

'o'

Podemos acceder desde el primer elemento al noveno del string con "**[0:10]**"

In [24]:
string[4:10]

', esta'

Podemos poner todas las lentras en mayúscula

In [25]:
string.upper()

'HOLA, ESTA VARIABLE ES UN STRING'

ó en minúscula

In [26]:
print(string.lower())

hola, esta variable es un string

En mayúsculas solo las primeras letras

In [27]:
string.title()

'Hola, Esta Variable Es Un String'

Podemos reemplazar un string por otro. En este caso "**Hola**" será reemplazado por "**Hellow**"

In [28]:
string.replace('Hola', 'Hellow')

'Hellow, esta variable es un string'

### Variables Booleanas

In [29]:
a = True
b = False

print(a == b)
print(a != b)

False
True

In [30]:
a = 1
b = 2

print(a > b)
print(a >= b)
print(a < b)
print(a <= b)

False
False
True
True

***

Python dispone de varias estructuras de datos que permiten almacenar colecciones de valores. Cada una de estas estructuras tiene unas propiedades diferentes y cada una es útil para solucionar diferentes problemas las dos estructuras básicas son las **listas** y los **diccionarios**

# Listas


Una **lista** en Python es una colección de valores, posiblemente **heterogéneos**. Las listas se pueden modificar (son **mutables**), y permiten almacenar elementos **duplicados**.

Los elementos de una lista se encuentran ordenados, de tal manera que el primer elemento se encuentra indexado con el 0, el segundo con el 1, etc.

In [38]:
lista1 = list() # o lista1=[]

print("Esto es una lista vacía:  ",lista1)

Esto es una lista vacía:   []

En una lista se pueden almacenar valores de diferentes tipos

In [10]:
lista2 = ['Juan', 2, 3.14,'Pedro', 'Juan']

print("Esto es una lista con valores: ",lista2)

Esto es una lista con valores:  ['Juan', 2, 3.14, 'Pedro', 'Juan']

Para acceder a un elemento se usa: lista[indice]. El indice 0 contiene al primer objeto

In [11]:
print("El primer elemento de la lista es: ",lista2[0])
print("El segundo elemento de la lista es: ",lista2[1])
print("El tercer elemento de la lista es: ",lista2[2])

El primer elemento de la lista es:  Juan
El segundo elemento de la lista es:  2
El tercer elemento de la lista es:  3.14

Eliminamos a Juan de la lista (al primer "Juan" que encuentre)

In [12]:
print("Lista Original: {}".format(lista2))
lista2.remove('Juan')
print("Quitamos a un Juan de la lista: ", lista2)

Lista Original: ['Juan', 2, 3.14, 'Pedro', 'Juan']
Quitamos a un Juan de la lista:  [2, 3.14, 'Pedro', 'Juan']

Haremos una revisión general de los **métodos** asociados a las **listas**:

Definimos una lista con el nombre **lista**

In [42]:
lista = [1,2,2,2,3,4]
print("Esta es mi lista: ", lista)

Esta es mi lista:  [1, 2, 2, 2, 3, 4]

Podemos re ordenarla a la inversa con el método **.reverse()**

In [43]:
lista.reverse()
print("Lista re ordenada: ",lista)

Lista re ordenada:  [4, 3, 2, 2, 2, 1]

Podemos agregarle un elemento con el método **.append()**

In [44]:
lista.append(10)
print("Lista agregando un elemeno: ",lista)

Lista agregando un elemeno:  [4, 3, 2, 2, 2, 1, 10]

También podemos agregar un elemento definiendo la posición con el método **.insert()**.

Recordemos que en python se empieza a contar desde el cero "0", por lo tanto agregar un elemento en la posición cero sería en la primera:

In [45]:
lista.insert(0,99)
print("Agregamos el número 99 en la primera posición: ", lista)

Agregamos el número 99 en la primera posición:  [99, 4, 3, 2, 2, 2, 1, 10]

Podemos sumar dos listas:

In [46]:
lista_2 = [66, 22]

lista + lista_2

[99, 4, 3, 2, 2, 2, 1, 10, 66, 22]

Podemos modificar el primer elemento de una lista:

In [47]:
lista[0] = 0
lista

[0, 4, 3, 2, 2, 2, 1, 10]

Podemos ordenar la lista:

In [48]:
sorted(lista)

[0, 1, 2, 2, 2, 3, 4, 10]

**sorted** solo funciona con listas que tienen el mismo tipo de dato

In [14]:
lista_3 = ["Victor", 3, 2, 1, "Agustin"]
sorted(lista_3)

['1', '2', '3', 'Agustin', 'Victor']

Si las lista es de str se ordena alfabéticamente

In [16]:
lista_3 = ["Victor", "Tatiana", "Agustin"]
sorted(lista_3)

['Agustin', 'Tatiana', 'Victor']

Podemos quedarnos con una lista sin duplicados pasando la **lista** a **set**

In [20]:
b = set(lista_3)

In [51]:
list(set(lista))

[0, 1, 2, 3, 4, 10]

Otras funciones para las listas:

**min** trae el valor mínimo en la lista

In [52]:
min(lista)

0

**max** trae el mayor valor

In [53]:
max(lista)

10

Para sumar todos los elementos

In [54]:
sum(lista)

24

Para saber la cantidad de elementos

In [55]:
len(lista)

8

In [56]:
sum(lista) / len(lista)

3.0

In [23]:
lista = [1,2,3,4,5]

In [24]:
def cuadrado(x):
    return x*x

In [26]:
#map

#List Comprehension

[cuadrado(x) for x in lista]

[1, 4, 9, 16, 25]

In [27]:
[x*3 for x in lista]

[3, 6, 9, 12, 15]

In [28]:
#filter
[x for x in lista if x%2==0]

[2, 4]

# Diccionarios

Los diccionarios representan una colección de datos de pares clave-valor, permiten operaciones básicas de inserción, modificación y eliminación, también permiten recuperar los datos almacenados a través de la clave.

Diccionario vacío

In [57]:
diccionario = {}
diccionario = dict()

{}

In [33]:
ciudades =  {1:["Buenos Aires","Argentina"], 
             2:"Caracas",
             3:"Quito",
             4: "La Paz",
            }

ciudades

{1: ['Buenos Aires', 'Argentina'], 2: 'Caracas', 3: 'Quito', 4: 'La Paz'}

Para acceder a las llaves

In [35]:
ciudades[1][0]

'Buenos Aires'

In [59]:
ciudades.keys()

dict_keys([1, 2, 3, 4])

In [60]:
list(ciudades)

[1, 2, 3, 4]

Para acceder a los valores asociados a las llaves

In [61]:
ciudades.values()

dict_values(['Buenos Aires', 'Caracas', 'Quito', 'La Paz'])

Para acceder a los pares llave-valor:

In [62]:
ciudades.items()

dict_items([(1, 'Buenos Aires'), (2, 'Caracas'), (3, 'Quito'), (4, 'La Paz')])

In [63]:
len(ciudades)

4

In [64]:
persona = {
    'first_name': 'Eric',
    'last_name': 'Martinez',
    'age': 43,
    'city': 'CABA'
}

In [65]:
print(persona['first_name'])

Eric

In [66]:
print(persona['first_name'])
print("\n")
print(persona['last_name'])
print("\n")
print(persona['age'])
print("\n")
print(persona['city'])

Eric


Martinez


43


CABA

Una ventaja de los diccionarios es la posibilidad de contener otros diccionarios. Esto permite tener en una variable, una estructura de datos más compleja:

In [67]:
paises = {
    
    "Argentina":{"Continente": "América", "Capital": "Buenos Aires"},
    "Brasil":{"Continente": "América", "Capital":"San Pablo"},
    "España":{"Continente": "Europa", "Capital":"Madrid"}
}

In [68]:
print(paises["Argentina"])

{'Continente': 'América', 'Capital': 'Buenos Aires'}

In [69]:
print(paises["Argentina"]["Capital"])

Buenos Aires

In [70]:
print(paises["España"]["Capital"])

Madrid

Existen una serie de instrucciones en Python que nos permiten alterar el flujo secuencial de un programa. 
Tenemos las **Sentencias Condicionales** con **if-elif-else** y las estructuras de controlo iterativas o bucles con el **for** y el **while**

# Sentencias Condicionales

### If - Elif -Else
<br>

<br/>

La instrucción **if** permite ejecutar un bloque de código si se cumple una condición. Si dicha condición no se cumple, se pueden comprobar condiciones adicionales con **elif** o bien se puede ejecutar un segundo bloque de código especificando la instrucción **else**

In [71]:
color = 'Verde'

if color == 'Verde':
    print("El color es verde")
else:
    print('El color no es verde')

El color es verde

In [72]:
color = 'Rojo'

if color == 'Verde':
    print("El color es verde")
else:
    print('El color no es verde')

El color no es verde

In [73]:
x=5
y=10

if x == y:
    print('Son iguales')
elif x < y:
    print('x es menor que y')
else:
    print('x es mayor que y')

x es menor que y

In [74]:
x=5
y=10

if x == y:
    print('Son iguales')

elif x < y:
    print('x es menor que y')
    


else:
    print('x es mayor que y')

x es menor que y

# Bucles

En python existen dos formas de iterar o generar un bucle: **for** o **while**. El bucle for o **for loop** iterará uno a uno los elementos contenidos de una lista. En el caso del **while loop** se iterará mientras la condición de permanencia se cumpla:

## For Loop - 'n' veces

In [75]:
#hacer algo 10 veces
for i in range(10): 
    #range(10) se interpreta como una lista [0,1,2,...,9], con 10 elementos, por lo cual pasará por el bucle 10 veces
    print(i)

0
1
2
3
4
5
6
7
8
9

In [76]:
for i in range(0,10,2): 
    print(i)

0
2
4
6
8

Dentro del For Loop podemos hacer las operaciones que necesitemos

In [37]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [77]:
for i in range(0,10,2): 
    e = i*2
    print(e)

0
4
8
12
16

## For loop - Listas

In [78]:
favorite_pizzas = ['pepperoni', 'hawaiana', 'veggie']

# Imprime el nombre de las pizzas de la lista.
for pizza in favorite_pizzas:
    print(pizza)

pepperoni
hawaiana
veggie

In [79]:
favorite_pizzas = ['pepperoni', 'hawaiana', 'veggie']

# Imprime el nombre de las pizzas de la lista.
for i, pizza in  enumerate(favorite_pizzas):
    print(i, pizza)

0 pepperoni
1 hawaiana
2 veggie

## While

In [80]:
numero, suma = 0,0

while numero <= 10:
    suma = numero + suma
    numero = numero + 1
    print ("La suma es " + str(suma))

La suma es 0
La suma es 1
La suma es 3
La suma es 6
La suma es 10
La suma es 15
La suma es 21
La suma es 28
La suma es 36
La suma es 45
La suma es 55

In [81]:
favorite_pizzas = ['pepperoni', 'hawaiana', 'veggie']

i = 0
# Imprime el nombre de las pizzas de la lista.
while i < len(favorite_pizzas):
    print(favorite_pizzas[i])
    i += 1

pepperoni
hawaiana
veggie

La instrucción **break** es importante para poder salir de un bucle, veamos el siguiente ejemplo:

In [82]:
for i in range(10):
    print("Estamos interando {}".format(i))
    if i == 8:
        break

Estamos interando 0
Estamos interando 1
Estamos interando 2
Estamos interando 3
Estamos interando 4
Estamos interando 5
Estamos interando 6
Estamos interando 7
Estamos interando 8

In [83]:
i=0
while True: #Hace algo infinitamente. Solo para demostrar, no es conveniente utilizarlo así.
            #Debemos poner una condición válida
    
    print(i)
    i+=1
    if i==10:
        break #con el break salimos del ciclo

0
1
2
3
4
5
6
7
8
9

Mezclando condicionales y loops obtenemos herramientas poderosas:

In [84]:
lis = range(1000)

for i in lis:
    if i % 2 == 0:
        print(i**2)

0
4
16
36
64
100
144
196
256
324
400
484
576
676
784
900
1024
1156
1296
1444
1600
1764
1936
2116
2304
2500
2704
2916
3136
3364
3600
3844
4096
4356
4624
4900
5184
5476
5776
6084
6400
6724
7056
7396
7744
8100
8464
8836
9216
9604
10000
10404
10816
11236
11664
12100
12544
12996
13456
13924
14400
14884
15376
15876
16384
16900
17424
17956
18496
19044
19600
20164
20736
21316
21904
22500
23104
23716
24336
24964
25600
26244
26896
27556
28224
28900
29584
30276
30976
31684
32400
33124
33856
34596
35344
36100
36864
37636
38416
39204
40000
40804
41616
42436
43264
44100
44944
45796
46656
47524
48400
49284
50176
51076
51984
52900
53824
54756
55696
56644
57600
58564
59536
60516
61504
62500
63504
64516
65536
66564
67600
68644
69696
70756
71824
72900
73984
75076
76176
77284
78400
79524
80656
81796
82944
84100
85264
86436
87616
88804
90000
91204
92416
93636
94864
96100
97344
98596
99856
101124
102400
103684
104976
106276
107584
108900
110224
111556
112896
114244
115600
116964
118336
119716
121104
122500
123904
125316
126736
128164
129600
131044
132496
133956
135424
136900
138384
139876
141376
142884
144400
145924
147456
148996
150544
152100
153664
155236
156816
158404
160000
161604
163216
164836
166464
168100
169744
171396
173056
174724
176400
178084
179776
181476
183184
184900
186624
188356
190096
191844
193600
195364
197136
198916
200704
202500
204304
206116
207936
209764
211600
213444
215296
217156
219024
220900
222784
224676
226576
228484
230400
232324
234256
236196
238144
240100
242064
244036
246016
248004
250000
252004
254016
256036
258064
260100
262144
264196
266256
268324
270400
272484
274576
276676
278784
280900
283024
285156
287296
289444
291600
293764
295936
298116
300304
302500
304704
306916
309136
311364
313600
315844
318096
320356
322624
324900
327184
329476
331776
334084
336400
338724
341056
343396
345744
348100
350464
352836
355216
357604
360000
362404
364816
367236
369664
372100
374544
376996
379456
381924
384400
386884
389376
391876
394384
396900
399424
401956
404496
407044
409600
412164
414736
417316
419904
422500
425104
427716
430336
432964
435600
438244
440896
443556
446224
448900
451584
454276
456976
459684
462400
465124
467856
470596
473344
476100
478864
481636
484416
487204
490000
492804
495616
498436
501264
504100
506944
509796
512656
515524
518400
521284
524176
527076
529984
532900
535824
538756
541696
544644
547600
550564
553536
556516
559504
562500
565504
568516
571536
574564
577600
580644
583696
586756
589824
592900
595984
599076
602176
605284
608400
611524
614656
617796
620944
624100
627264
630436
633616
636804
640000
643204
646416
649636
652864
656100
659344
662596
665856
669124
672400
675684
678976
682276
685584
688900
692224
695556
698896
702244
705600
708964
712336
715716
719104
722500
725904
729316
732736
736164
739600
743044
746496
749956
753424
756900
760384
763876
767376
770884
774400
777924
781456
784996
788544
792100
795664
799236
802816
806404
810000
813604
817216
820836
824464
828100
831744
835396
839056
842724
846400
850084
853776
857476
861184
864900
868624
872356
876096
879844
883600
887364
891136
894916
898704
902500
906304
910116
913936
917764
921600
925444
929296
933156
937024
940900
944784
948676
952576
956484
960400
964324
968256
972196
976144
980100
984064
988036
992016
996004

Elevamos al cuadrado los primeros 1000 números pares

# Funciones

**Python** como la mayoría de los lenguajes en general ofrece la posibilidad de encapsular código para hacerlo reutilizable. Una función es un fragmento de código que tiene un nombre y realiza una tarea específica. Se utiliza la palabra **def** para definir una función, los argumentos o valores de entrada que recibe una función van entre **()**. Una función puede devolver un valor, para esta funcionalidad se agrega la palabra **return**

In [85]:
def suma_cuadrados(x, y):
    """
    Recibe dos números y 
    devuelve la suma luego de elevarlos al cuadrado
    x
    y
    
    """
    
    x = x**2
    y = y**2
    
    return (x + y)

suma_cuadrados(2,3)

13

In [86]:
def ciudad_pais(city, country):
    """Retorna un string con 
    la primera palabra en Masyuc.
    """
    return(city.title() + ", " + country.title())

city = ciudad_pais('santiago', 'chile')
print(city)

city = ciudad_pais('ushuaia', 'argentina')
print(city)

city = ciudad_pais('longyearbyen', 'svalbard')
print(city)

Santiago, Chile
Ushuaia, Argentina
Longyearbyen, Svalbard

In [40]:
a=1
b=0
try:
    c=a/b
except ZeroDivisionError:
    print('No se puede dividir por 0')

No se puede dividir por 0

In [41]:
if b==0:
    raise Exception('No se puede dividir por 0')

Exception: No se puede dividir por 0